main {
    width: 90%;
    max-width: 1100px;
    margin: 25px auto;
}

section{
    background-color: white;
    padding: 20px;
    margin-bottom: 18px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

h1{
    color: #1b7505;
    margin-top: 0;
    text-align: center;
    padding-bottom: 6px;
}

h2{
    color: #1b7505;
    margin-top: 0;
    padding-bottom: 6px;
}

header p{
    text-align: center;
}

img{
    max-height: 500px ;
}

@media (max-width: 700px) {

    /* Selecciona el menú de navegación */
    nav {
        /* Coloca los elementos del menú uno debajo del otro */
        flex-direction: row;
    }

    /* Selecciona cada enlace dentro del menú */
    nav a {
        /* Hace que cada enlace ocupe todo el ancho disponible */
        width: 25%;

        /* Centra el texto dentro de cada enlace */
        text-align: center;
    }

    /* Selecciona el título principal de la página */
    h1 {
        /* Reduce el tamaño del título para que no se vea muy grande en celular */
        font-size: 26px;
    }

    /* Selecciona el contenido principal y la barra lateral */
    main,
    aside {
        /* Hace que ocupen el 95% del ancho, dejando un pequeño margen */
        width: 95%;
    }

    /* Selecciona secciones, artículos y barra lateral */
    section,
    article,
    aside {
        /* Reduce el espacio interno para aprovechar mejor la pantalla pequeña */
        padding: 15px;
    }

    /* Selecciona las tablas */
    table {
        /* Reduce el tamaño del texto de la tabla para que entre mejor */
        font-size: 14px;
    }

    /* Selecciona campos de formulario y botones */
    input,
    select,
    textarea,
    button {
        /* Ocupa todo el ancho disponible del contenedor */
        width: 100%;
        /* Impide que el elemento crezca más allá del ancho de su contenedor */
        max-width: 100%;
        /* Hace que padding y bordes se incluyan dentro del ancho total */
        box-sizing: border-box;
        /* Tamaño de texto cómodo para lectura y uso en dispositivos móviles */
        font-size: 16px;
    }

    input,
    select,
    textarea,
    button,
    meter,
    progress,
    audio {
        /* Ocupa todo el ancho disponible del contenedor */
        width: 100%;
        /* Impide que el elemento crezca más allá del ancho de su contenedor */
        max-width: 100%;
        /* Hace que padding y bordes se incluyan dentro del ancho total */
        box-sizing: border-box;
        /* Tamaño de texto cómodo para lectura y uso en dispositivos móviles */
        font-size: 16px;
    }
}